body {
    background-image: url('https://www.thaitravelcenter.com/webdatas/travelinfo/banner/article-banner-20191017102030.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% 100%;
}

